*
!.gitignore
!alp
!alp/config.yml
!setup.sh
!installer.sh
!env-template.sh
!toolkit-v1.mk
!toolkit-v1.sh
!toolkit.sh
!pt-query-digest
!pt-query-digest.conf
!commands
!commands/*.sh
!commands/data
!commands/data/command.template
!commands/data/completion.bash
!commands/data/completion.zsh
!util.sh
